body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-image: url('../images/bg.jpg');
  background-size:auto;
  background-repeat: no-repeat;
  background-color: #442D3D !important;
}

a {
  color: #00B7FF;
}

/*  layout.pug  */
#navbar{
  background-color: #442D3D !important;
  color: #99171F;
}
#navbar ul li{
  margin: 15px;
  cursor: pointer;
  transition: all ease 0.5s;
}
#navbar ul li:hover{
  color: #FF3C7C;
  border-bottom: 3px solid #FF3C7C;
  border-right: 2px solid #FF3C7C;
  border-left: 2px solid #FF3C7C;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 25px;
}
.liSelect{  /*  simple class for selected page (li in ul in navbar)  */
  color: #FF3C7C;
}
#navbar a{
  text-decoration: none;
  color: #99171F;
}
#navbar a:hover{
  color: #FF3C7C;
}
#footer{
  background-color: #442D3D;
  color: #FF3C7C;
  text-align: center;
  padding: 10px;
}
#footerMapsLink{
  color: #FF3C7C;
  text-decoration: none;
  transition: all ease 0.5s;
  border: none;
}
#footerMapsLink:hover{
  text-decoration: underline;
}

/*  index.pug  */
.maincontent{
  text-align: center;
  color: white;
}
.cardcontainer{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #442D3D !important;
  color: white !important;
  border: 3px solid #99171F !important;
  margin: 10px  auto;
  text-align: center;
  width: 50%;
  cursor: crosshair;
  transition: all ease 0.5s;
}
.card:hover{
  background-color: rgba(68, 45, 61, 10%) !important;
  padding: 5px;
}
.card span{
  color: white !important;
}
.BtnCardSection{
  background-color: #442D3D !important;
  border: 1px solid #99171F !important;
  color: white !important;
  transition: all ease 0.5s;
}
.BtnCardSection:hover{
  color: white !important;
  background-color: #99171F !important;
  border: 1px solid #FF3C7C !important;
}
#listCard1{
  list-style: none;
}
.affiancate{
  display: flex;
  justify-content: center;
}
.col{
  margin-bottom: 100px;
}
 /*  index.pug, bg1 (second background-image, second part of home [Il Nostro Team])  */
.body1-bg1 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-image: url('../images/bg1.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
}
.teamSections{
  display: flex;
}
.sections{
  padding: 20px;
  border: 1px solid white;
  height: auto;
  transition: all ease 0.5s;
  cursor: crosshair;
}
.sections a{
  text-decoration: none;
}
.sections:hover{
  border: 5px solid white;
  border-radius: 15px;
  padding: 10px;
}
.sections h6{
  margin-top: 15px;
}

.sections-lateral{
  background-color: #CE7D4E;
  color: #3463BD;
}
.sections-lateral a{
  color: #3463BD;
}
.sections-lateral h3, a{
  border-bottom: 2px solid #3463BD;
  width: auto;
}
.sections-lateral:hover{
  background-color: rgba(206, 125, 78, 25%);
  color: white;
}
.sections-lateral:hover h3, a{
  border-bottom-color: white;
}


.sections-central{
  background-color: #3463BD;
  color: #CE7D4E;
}
.sections-central a{
  color: #CE7D4E;
}
.sections-central h3, a{
  border-bottom: 2px solid #CE7D4E;
  width: auto;
}
.sections-central:hover{
  background-color: rgba(52, 99, 189, 25%);
  color: white;
}
.sections-central:hover h3, a {
  border-bottom-color: white;
}