doctype html
html
  head
    title= title
    //  StyleSheets Files  //
    link(rel='stylesheet', href='/stylesheets/mainstyle.css')
    //  CDN Links  //
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous")

  body
    //  NavBar  //
    div#nav.container-fluid
      h3 TrustBox
      div#navlink
        h4.linknavselected Home
        h4 Box
        h4 FaQ
        h4 Help
    block content
    //  Footer  //
    footer 
      div#footer.container-fluid
        h3 TrustBox
        hr
        p copyright &copy; TrustBox
        span Powered by npm, express, nodejs, bootstrap, jquery

    //  CDN Links  //
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.7.0.min.js")