extends layout

block content
  div.maincontent.container-fluid
    h1(style="border-bottom: 1px #442D3D; border") HOME

    div.cardcontainer.container-fluid
      div#card1.card
        div.card-header
          | Primo Piano
        div.card-body
          h5.card-title Cosa facciamo?
          p.card-text Agiamo su tutto il territorio italiano, offriamo servizi di risposta sismica come:
          ul#listCard1
            li Misurazioni
            li Prove anti-sismiche
            li Prove di integrità strutturale
            li Perforazioni
          a.BtnCardSection.btn.btn-primary(href='#contatti') Contattaci

      div.affiancate
        div.row.row-cols-1.row-cols-md-3.g-4
          div.col
            div#card2.card.h-100
              img.card-img-top(src='/images/safety_helmet.png' width="50" height="250" alt='img.png')
              div.card-body
                h5.card-title Sicurezza
                p.card-text Ogni nostro servizio garantisce sicurezza su ogni azione svolta sul campo di lavoro e nelle analisi dei dati nel nostro studio.
              div.card-footer(style="color: white !important;")
                span.smallText.text-body-secondary L'importanza della sicurezza
          div.col
            div#card3.card.h-100
              img.card-img-top(src='/images/team_money.png' width="50" height="250" alt='img.png')
              div.card-body
                h5.card-title Team
                p.card-text Abbiamo un team di esperti a vostra disposizione per effettuare un lavoro eccellente a prezzi eccellenti.
                a.BtnCardSection.btn.btn-primary(href='#teamSections') Il Nostro Team
              div.card-footer
                span.smallText.text-body-secondary L'importanza della Professionalità
          div.col
            div#card4.card.h-100
              img.card-img-top(src='/images/professionality_precision.png' width="50" height="250" alt='img.png')
              div.card-body
                h5.card-title Professionalità e Precisione
                p.card-text Stiamo attenti ad essere professionali per garantire al cliente un lavoro di ottima qualità, e per non deludervi.
              div.card-footer
                span.smallText.text-body-secondary L'importanza del risparmio

  div.body1-bg1
    hr
    h1(style="border-bottom: 1px #442D3D; border") Il Nostro Team

    div.teamSections#teamSections
      div.col-md-4.left-section.sections-lateral.sections
        h1 GEOLOGIA
        h6 NOME 
        h3 Alessandro
        h6 COGNOME
        h3 Donati
        h6 PROFESSIONE
        h3 Geologo 
        h6 ESPERIENZA
        h3 +25 Anni
        h6 LINK 
        a(href="https://www.linkedin.com/in/alessandro-donati-4139071b5/" target="_blank")
          h3 LinkedIn

      div.col-md-4.center-section.sections-central.sections
        h1 INGEGNERIA
        h6 NOME 
        h3 Andrea
        h6 COGNOME
        h3 Petrosino
        h6 PROFESSIONE 
        h3 Ingegnere
        h6 ESPERIENZA
        H3 +20 Anni
        h6 LINK 
        a(href="https://www.linkedin.com/in/andrea-petrosino-76b32926/?originalSubdomain=it" target="_blank")
          h3 LinkedIn

      div.col-md-4.right-section.sections-lateral.sections
        h1 GEOLOGIA
        h6 NOME 
        h3 Gianluca
        h6 COGNOME
        h3 Paolucci
        h6 PROFESSIONE
        h3 Geologo
        h6 ESPERIENZA
        h3 +22 Anni
        h6 LINK 
        a(href="https://www.linkedin.com/in/gianluca-paolucci-18162155/recent-activity/all/" target="_blank")
          h3 LinkedIn



      
